<ul class="list-group list-group-flush lista">

  <li class="list-group-item list-group-item-action" (click)="changeView('devices')">
    <a>
      <i class="pi pi-tablet"></i>
      <p>Devices</p>
    </a>
  </li>
  <li class="list-group-item list-group-item-action"  (click)="changeView('category')">
    <a >
      <i class="pi pi-list"></i>
      <p>Categories</p>
    </a>
  </li>
  <li class="list-group-item list-group-item-action" (click)="logout()" >
    <a >
      <i class="pi pi-sign-out"></i>
      <p>Logout</p>
    </a>
  </li>

</ul>


